<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="style.css">

<head>
  <title>rickyHewittTech</title>
</head>

<div class="stamp">
  <h1>rickyHewittTech</h1>
</div>

<div class="wrapper">

  <a href="/"><div class="box">
    <p>Home</p>
  </div></a>

  <a href="/iCV"><div class="box">
    <p>My CV</p>
  </div></a>

  <a href="/blog"><div class="box">
    <p>My Coding</p>
  </div></a>

  <a href="/apps"><div class="box">
    <p>My Apps</p>
  </div></a>

  <a href="/contact"><div class="box">
    <p>Contact</p>
  </div></a>

</div>

<div class="title">
  <h1> Here are the best selection of <span>my coding projects</span>. </h1>
</div>

<div class="blogBox">
  <a href="/submarine"><h1 style="margin-bottom:20px">Link: <span>Submarine Game</span></h1></a>
  <p>This is the first of my creations made with vanilla Javascript, HTML and CSS. The code is not to professional standards and can be found on GitHub <a href="https://github.com/rewitt94/portfolio/tree/master/submarine"><span>here</span></a>. It is not compatible with mobile. I have encountered a couple bugs on different browsers, but it runs smoothly on Chrome. </p>
  <p></br><span>Copyright</span>:
  </br>- The submarine image is a clipart in the public domain published on <a href="https://thecliparts.com/the-best-free-clipart-23611/"><span>thecliparts</span>.</a>
  </br>- The seamine is a clipart in the public domain published on <a href="http://www.clker.com/clipart-25420.html"><span>clker</span>.</a>
  </br>- The seamine explosion is a clipart in the public domain published on <a href="http://clipartix.com/explosion-clip-art-image-23571/"><span>clipartix</span>.</a>
  </br>- The submarine explosion is a clipart in the public domain published on <a href="http://www.clipartpanda.com/categories/missile-clip-art-free"><span>clipartpanda</span>.</a>
  </br>- The missile image is a clipart in the public domain also published on <a href="http://images.clipartpanda.com/missile-clipart-missile.png"><span>clipartpanda</span>.</a>
  </br>- The fire is a clipart in the public domain also published on <a href="http://www.freepngimg.com/nature/fire-flames"><span>freepngimg</span>.</a>
</div>

<div class="blogBox">
  <h1 style="margin-bottom:20px"><span>Website</span></h1></a>
  <p>What website? This website ofcourse. My site is ran on a AWS "Amazon EC2". It is pulled from <a href="https://github.com/rewitt94/portfolio/tree/master"><span>this</span></a> repositoty on my GitHub.</p>
</div>

<script>

var menu = document.getElementsByClassName('box')

for (i = 0; i < 5; i++) {

  menu[i].addEventListener("mouseenter", function( event ) {
    event.target.style.color = '#FF1783';
  });

  menu[i].addEventListener("mouseleave", function( event ) {
    event.target.style.color = 'black';
  });

}

</script>
