html {
  height: 100%
}

body {
  background: #FFFFFA;
  height:100%;
  margin: 0;
  font-family: courier;
  font-size: 18px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

span {
  /*color: #F884FF;*/
  color: #FF1783;
}

button {
  font-family: arial black;
}

.stamp {
  position: absolute;
  margin-top: 2%;
  left: 0;
  background: transparent;
  text-align: center;
  width: 30%;
}

.wrapper {
  position: absolute;
  margin-top: 2%;
  left: 30%;
  width: 70%;
  display: grid;
  grid-template-columns: 19.6% 19.6% 19.6% 19.6% 19.6%;
  grid-gap: 0.5%;
  padding: 0.2%;
}

.box {
  padding: 3%;
  font-size: 120%;
  text-align: center;
  background: transparent;
}

.wrapperTwo {
  display: grid;
  grid-template-columns: 10% 89%;
  grid-gap: 1%;
  padding: 0.2%;
}

.boxTwo {
  height: 110px;
}

.title {
  position: relative;
  text-align: center;
  left:25%;
  top: 300px;
  width:50%;
}

.ttlBox {
  position:relative;
  top:500px;
  width:90%;
  left:5%;
  min-height: 200px;
  text-align: center;
  margin-bottom: 100px;
}

.blogBox {
  position:relative;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  background: black;
  top:500px;
  width:80%;
  min-height: 200px;
  margin-bottom: 100px;
}

.contactBox {
  position:absolute;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  bottom:0;
  color: white;
  background: black;
  top:500px;
  width:80%;
}

.ttl {
  width: 30%;
  height: 150px;
  font-size: 16px;
  background: black;
  color: white;
}
